<div class="settings-wrapper">
  <form autocomplete="off"
        novalidate
        (ngSubmit)="saveCredentials()"
        [formGroup]="form">

    <h4>Set your credentials</h4>
    <div class="flex-center">
      <a href="https://developers.google.com/sheets/api/quickstart/go" target="_blank">Download file</a>
      <sector-file-upload formControlName="file"
                          class="d-block ml-4"
                          accept=".json"
                          (change)="uploadFile($event)">
        <button class="btn btn-primary">Choose File</button>
      </sector-file-upload>
    </div>

    <hr>

    <div>
      <h4>Set your page id</h4>

      <input type="text"
             class="form-control"
             formControlName="page">
    </div>

    <footer class="pt-4 text-right">
      <button type="submit"
              class="btn btn-primary px-5"
              [disabled]="form.invalid">
        Save
      </button>
    </footer>
  </form>

  <form *ngIf="credentials?.exp"
        autocomplete="off"
        novalidate
        (ngSubmit)="saveToken()"
        [formGroup]="formExp">
    <p>Go to the following <a [href]="credentials?.authURL" target="_blank">link</a>
      in your browser then type the authorization code
    </p>

    <input type="text"
           class="form-control"
           formControlName="code"
           (keyup.enter)="createGoogleToken($event.target.value)">

    <footer class="pt-4 text-right">
      <button type="submit"
              class="btn btn-primary px-5"
              [disabled]="formExp.invalid">
        Save
      </button>
    </footer>
  </form>
</div>