:host {
  display: block;
  
  .navbar {
    padding: 0 1rem;
    height: 3rem;

    .navbar-brand {
      height: 2.5rem;
      width: 2.5rem;
      border-radius: .25rem;
      background: url(../../../../assets/img/logo.jpg) no-repeat center center;
      background-size: contain;
    }

    .navbar-collapse {
      margin: 0 -1rem;
      padding: 0 1rem;
    }

    p-menubar {
      width: 100%;
    }
  }
}

::ng-deep {
  .sector-menubar {
    width: 100%;
    padding: 0;
    background: none;
  }
}
