<sector-settings-dialog>
  <div dialogContent>
    <table cdk-table [dataSource]="data">
      <ng-container cdkColumnDef="position">
        <th cdk-header-cell *cdkHeaderCellDef> No. </th>
        <td cdk-cell *cdkCellDef="let r; let i = index;" [innerHTML]="i + 1"></td>
      </ng-container>

      <ng-container cdkColumnDef="name">
        <th cdk-header-cell *cdkHeaderCellDef> Name </th>
        <td cdk-cell *cdkCellDef="let r" [innerHTML]="r.name"></td>
      </ng-container>

      <ng-container cdkColumnDef="price">
        <th cdk-header-cell *cdkHeaderCellDef> Price </th>
        <td cdk-cell *cdkCellDef="let r" [innerHTML]="r.price"></td>
      </ng-container>

      <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
      <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <ng-container dialogFooter>
    <button mat-raised-button color="primary" (click)="close()">Apply</button>
  </ng-container>
</sector-settings-dialog>