::ng-deep .sector-languages {
    min-width: 2rem;

  .ui-dropdown-trigger {
    display: none;
  }

  .ui-inputtext {
    padding: 0 !important;
    background-color: #eee;
  }

  .ui-dropdown-items {
    padding: 0;
  }

  .ui-dropdown-item {
    padding: .125rem 0 !important;
  }
}