.inverse-field:not(.mat-form-field-invalid)
  ::placeholder
    color: #ffffff8a
    opacity: 1
  .mat-form-field-underline
    background-color: #ffffffb6
  .mat-form-field-label
    color: #ffffff8a


  .mat-radio-outer-circle
    border-color: #ffffff8a