<div class="wrapper" (click)="openDialog()">

  <div #ref
       class="input-wrapper"
       [class.d-none]="ref.childNodes.length === 0">
    <ng-content></ng-content>
  </div>

  <div class="input-wrapper" *ngIf="ref.childNodes.length === 0">
    <input class="label pointer"
           matInput
           disabled
           [value]="(period?.beg | date:'dd.MM.yyyy') + ' - ' + (period?.end | date:'dd.MM.yyyy')">
  </div>

  <div *ngIf="opened"
       class="calendar-container"
       [style]="containerStyle">
    <sector-date-range-dialog [period]="period"
                              (periodChange)="onPeriodChange($event)">
    </sector-date-range-dialog>

    <div class="text-right">
      <button mat-raised-button color="primary" (click)="opened = false">Apply</button>
    </div>
  </div>

</div>