<mat-list>
  <mat-form-field class="bottom-shadow" mat-subheader>
    <mat-icon matPrefix>search</mat-icon>
    <mat-label>Search</mat-label>
    <input type="text"
           matInput
           placeholder="Search"
           autocomplete="off"
           (input)="filterClients($event.target.value)">
  </mat-form-field>

  <cdk-virtual-scroll-viewport itemSize="50" class="scroll-viewport" *ngIf="!loading; else loaderTmpl">
    <div *cdkVirtualFor="let user of users;">
      <mat-list-item *ngIf="!user.hidden">
        <div class="flex-center tree-item" [class.bold]="settingsUserId === user.id">
          <mat-icon matPrefix class="flex-center pointer" (click)="openUserSettings(user)">settings</mat-icon>
          <h6 class="dot-ends"
              mat-line
              [smartTooltip]="user.surname + ' ' + user.name | titlecase"
              [innerHTML]="user.surname + ' ' + user.name | titlecase">
          </h6>
        </div>
      </mat-list-item>
    </div>
  </cdk-virtual-scroll-viewport>

  <ng-template #loaderTmpl>
    Loading...
  </ng-template>

  <div class="flex-center status-bar top-shadow">
    <span [innerHTML]="statusInfo"></span>
  </div>
</mat-list>