<h2 class="text-center">Google Credentials Settings</h2>

<sector-upload-file accept=".json"
                    fileName="credentials.json"
                    (onUpload)="uploadCredentials($event)">
  <i class="btn">Upload</i>
</sector-upload-file>

<br>

<form *ngIf="credentials?.authURL"
      autocomplete="off"
      novalidate
      class="auth-code"
      [formGroup]="googleAuthForm"
      (ngSubmit)="googleAuth()">

  <p>Go to the following <a [href]="credentials?.authURL" target="_blank">link</a>
    in your browser then type the authorization code
  </p>

  <mat-form-field>
    <mat-label>Auth Code</mat-label>
    <input formControlName="code"
           type="password"
           matInput>
  </mat-form-field>

  <button type="submit"
          mat-raised-button
          color="primary"
          [disabled]="googleAuthForm.invalid">
    Auth
  </button>

</form>
